@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --base-dark-blue: #262163;
    --base-light-blue: #8FDAF9;
    --base-blue: #23AAEE;
    --base-orange: #E7AA6F;
    --base-white: #FFFFFF;
}

/* sweet alert styles */
.alert {
    top: 20%;
    right: 0;
    width: auto;
    color: #000;
    font-size: 25px;
    position: fixed;
    font-weight: 600;
    background: #eee;
    padding: 16px 35px;
    border-radius: 10px;
    z-index: 11111111111111;
    transform: translateX(100%);
    transition: all 0.4s !important;
}

.toAdmin {
    right: 0;
    bottom: 5px;
    position: fixed;
    background: #fff;
    border-radius: 15px;
    z-index: 111111111111111;
    padding: 20px 20px 15px 20px;
    box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.4);
}

.toAdmin img {
    width: 40px;
}

.alert.alert-show {
    transform: translateX(0);
    transition: all 0.4s !important;
}

.alert.info {
    background: #d4edda;
}

.alert.info h5 {
    color: #155724 !important;
}

.alert.warning {
    background: #fff3cd;
}

.alert.warning h5 {
    color: #856404 !important;
}

.alert .close-sweet {
    top: 0px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.alert.info .close-sweet {
    color: #155724 !important;
}

.alert.warning .close-sweet {
    color: #856404 !important;
}

::-webkit-scrollbar {
    width: 0.75rem;
    border: 3px solid var(--base-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--base-dark-blue);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--base-dark-blue);
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--base-dark-blue)
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 111;
    display: flex;
    transition: all 0.4s;
    position: fixed;
    background: #fff;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    /* border-bottom: 1px solid var(--base-dark-blue); */
}

nav.fixed-unvisible {
    position: fixed;
    transform: translateY(-100%);
}

nav.fixed-visible {
    transform: translateY(0);
}

nav .navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

nav .navbar-menu {
    gap: 75px;
    display: flex;
    align-items: center;
}

nav .navbar-menu .navbar-link {
    font-size: 20px;
    font-weight: 500
}

nav .navbar-burger {
    cursor: pointer;
    display: none;
    width: 60px;
    height: 40px;
}

nav .navbar-burger span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background: var(--base-dark-blue);
}

nav .navbar-burger.active span {
    display: none;
}

nav .navbar-burger.active span:nth-child(1) {
    display: block;
    margin: 0;
}

.base-btn {
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 60px;
    transition: all 0.3s;
    border: 1px solid #000000;
    background: rgba(142, 128, 128, 0.08);
}

.base-btn.is-small {
    font-size: 18px;
    padding: 10px 40px;
}

.base-btn:hover {
    color: var(--base-white);
    background: var(--base-dark-blue);
    border: 1px solid var(--base-dark-blue);
}

header {
    padding-top: 75px;
}

.header-banner {
    width: 100%;
    display: flex;
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 75px);
    background-repeat: no-repeat;
    background-image: url('../img/banner.png');
}

.header-banner .banner-title {
    font-size: 70px;
    font-weight: 700;
    color: var(--base-dark-blue);
}

main {
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
}

.answer-wrapper {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.answer-wrapper div {
    gap: 10px;
    display: flex;
    font-size: 17px;
    align-items: center;
    width: calc(100% / 2 - 30px);
}

.answer-wrapper div img {
    width: 100px;
}

.order-wrapper {
    gap: 30px;
    display: flex;
    padding: 30px;
    margin: 0;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.order-wrapper div {
    width: calc(100% / 2 - 30px)
}

.order-title {
    margin: 150px 0 40px 0;
    padding: 0 45px;
    font-size: 35px;
}

.order-wrapper .text-content {
    margin-top: -40px;
}

.order-wrapper .text-content p {
    margin-bottom: 20px;
    font-size: 20px;
}

.order-wrapper .image-content img {
    width: 100%;
    margin-top: -180px;
}

.calculation-wrapper {
    gap: 150px;
    display: flex;
    margin: 60px 0 40px 0;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.calculation-wrapper .bottle-side {
    width: calc(20% - 30px);
    height: 100%;
    position: relative;
}

.calculation-wrapper .bottle-side img {
    width: 100%;
}

.img-relative {
    position: relative;
}

.calculation-wrapper .bottle-side .img-background {
    position: absolute;
    width: 100%;
    bottom: 7px;
    height: 60%;
    z-index: -111;
    max-height: 98.4%;
    transition: all 0.4s;
    border-top-left-radius: 100%;
    border-top-right-radius: 30%;
    /* background: linear-gradient(108deg, #9891EA 39.9%, rgba(95, 86, 187, 0) 96.84%); */
    background: var(--base-blue);
}
.calculation-wrapper .bottle-side .img-background.animated {
    animation-name: heightBg;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.minus-top {
    margin-top: -30px !important;
}

@keyframes heightBg {
    0% {
        height: 10%;
    }
    10% {
        height: 30%;
    }
    30% {
        height: 60%;
    }
    50% {
        height: 80%;
    }
    80% {
        height: 60%;
    }
    100% {
        height: 100%;
    }
}

.calculation-wrapper .bottle-side .calcuation-result {
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    margin: 30px 30px;
    align-items: center;
    color: var(--base-blue);
    justify-content: center;
    border: 3px solid var(--base-blue);
}

.calculation-wrapper .range-side {
    width: calc(60% - 30px);
}

.calculation-wrapper .range-side h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
}

.calculation-wrapper .range-side label {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

.calculation-wrapper .range-side label input[id="weight"] {
    width: 250px;
    margin: 20px 0 40px 0;
}

.calculation-wrapper .range-side label input[id="weight"]::after {
    bottom: -30px;
    content: attr(min);
    font-size: 20px;
    position: absolute;
}

.calculation-wrapper .range-side label input[id="weight"]::before {
    right: 0;
    bottom: -30px;
    font-size: 20px;
    content: attr(max);
    position: absolute;
}

.calculation-wrapper .range-side label input[id="activeness"] {
    width: 300px;
    margin: 20px 0 40px 0;
}

.calculation-wrapper .range-side label input[id="activeness"]::after {
    bottom: -30px;
    content: attr(min);
    font-size: 20px;
    position: absolute;
}

.calculation-wrapper .range-side label input[id="activeness"]::before {
    right: 0;
    bottom: -30px;
    font-size: 20px;
    content: attr(max);
    position: absolute;
}

.calculation-wrapper .range-side h3 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 25px;
}

.calculation-wrapper .range-side p {
    font-size: 20px;
}

.right-watermark {
    top: 300px;
    right: 0;
    z-index: -1;
    position: absolute;
}

.right-watermark.top-2 {
    top: 1700px !important;
}

.left-watermark {
    z-index: -1;
    top: 800px;
    left: 0;
    position: absolute;
}

.left-watermark.top-2 {
    top: 2400px;
}

.text-center {
    text-align: center;
}

.catalog-wrapper {
    gap: 70px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}

.margin-bottomed {
    margin-bottom: 60px;
}

.catalog-wrapper .catalog-slider:nth-child(1) {
    width: calc(40% - 70px);
    margin-top: -60px;
}

.catalog-wrapper .text-content:nth-child(2) {
    width: calc(60% - 70px);
    padding-right: 150px;
}

.catalog-wrapper .catalog-slider {
    overflow: hidden;
}

.catalog-wrapper .catalog-slider .slider-wrapper {
    width: 100% !important;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    transition: all 0.4s;
    transform: translateX(0%);
    justify-content: space-between;
}

.catalog-wrapper .catalog-slider .slider-wrapper img {
    width: 100% !important;
    object-fit: contain !important;
}

.fulled-width {
    width: 10000px;
    height: auto;
}

.catalog-wrapper .catalog-slider .slider-controller {
    width: auto;
    height: 20px;
    display: flex;
    min-width: 120px;
    margin-top: 20px;
    position: relative;
    align-items: center;
    border-radius: 50px;
    padding: 22px 19px 22px 20px;
    backdrop-filter: blur(8px);
    border: 1px solid #CCDDF0;
    justify-content: space-between;
}

.inline-slider-conf {
    display: flex;
    justify-content: space-between;
}

.catalog-wrapper .catalog-slider .slider-controller .next-btn {
    width: 50%;
    height: 20px;
    cursor: pointer;
}

.catalog-wrapper .catalog-slider .slider-controller .next-btn span:nth-child(1) {
    top: 4px;
    right: 0;
    width: 15px;
    height: 1.5px;
    background: #000;
    position: absolute;
    transform: rotate(-135deg);
}

.catalog-wrapper .catalog-slider .slider-controller .next-btn span:nth-child(2) {
    right: 0;
    bottom: 4px;
    width: 15px;
    height: 1.5px;
    background: #000;
    position: absolute;
    transform: rotate(135deg);
}

.catalog-wrapper .catalog-slider .slider-controller .prev-btn {
    width: 50%;
    height: 20px;
    cursor: pointer;
}

.catalog-wrapper .catalog-slider .slider-controller .prev-btn span:nth-child(1) {
    top: 4px;
    left: 0;
    width: 15px;
    height: 1.5px;
    background: #000;
    position: absolute;
    transform: rotate(-45deg);
}

.catalog-wrapper .catalog-slider .slider-controller .prev-btn span:nth-child(2) {
    left: 0;
    bottom: 4px;
    width: 15px;
    height: 1.5px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
}

.catalog-wrapper .catalog-slider .preview {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: space-around;
}

.catalog-wrapper .catalog-slider .preview img {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    object-fit: contain;
    border: 2px solid #CCDDF0;
}

.catalog-wrapper .catalog-slider .preview img.active {
    border: 2px solid;
    border-image-source: linear-gradient(0deg, #10EBF8, #10EBF8),
    linear-gradient(0deg, rgba(4, 73, 136, 0.08), rgba(4, 73, 136, 0.08));
}

.centered-mobile-visible-text {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    display: none;
}

.catalog-wrapper .text-content p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forted-wrapper {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.inlined-content {
    gap: 15px;
    display: flex;
    align-items: center;
    width: calc(100% / 4 - 10px);
}

.inlined-content img {
    width: 20px
}

.inlined-content p {
    font-size: 16px !important;
    font-weight: 400;
}

.water-choose {
    width: 100%;
    gap: 10px;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.water-choose label {
    width: calc(100% / 4 - 10px);
    cursor: pointer;
}

.water-choose label .inlined {
    gap: 10px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 5px 20px 5px 20px;
    justify-content: center;
    border: 1px solid #CCDDF0;
}

.water-choose label .inlined::after {
    content: attr(litr-size);
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: sans-serif;
}

.water-choose label input[type="radio"] {
    display: none;
}

.water-choose label input[type="radio"]:checked ~ .inlined {
    background: #E8F2FF !important;
}

.count-calc {
    display: flex;
    padding: 10px;
    margin: 25px 0;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    background: var(--base-blue);
}

.count-calc .display {
    width: 25%;
    padding: 5px 10px;
    position: relative;
    background: #fff;
}

.count-calc .display .minus {
    top: 7px;
    z-index: 11;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}

.count-calc .display .minus.disabled {
    opacity: 0.4;
}

.count-calc .display .plus {
    width: 20px !important;
    z-index: 11;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.count-calc .display .displayer-input {
    height: 40px;
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

.order-btn button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 20px;
    transition: all 0.4s;
    border: 2px solid #10EBF8;
    filter: drop-shadow(0px 0px 9px #10EBF8);
}

.order-btn button:hover {
    color: var(--base-white);
    background: var(--base-blue);
}

.suffix {
    gap: 5px;
    display: flex;
    align-items: center;
}

.water-cost {
    color: #fff;
}

.couple-wrapper {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.couple-wrapper div {
    width: calc(100% / 2 - 10px)
}

.couple-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 50px !important;
}

.couple-wrapper .text-content p {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.couple-wrapper .img-content img {
    width: 100%;
    height: auto;
    margin-top: -30px;
}

.form-image img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.form-group {
    width: 100%;
}

.form-group .form-input {
    width: 100%;
}

.align-center {
    align-items: center !important;
}

.form-group .form-input input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #95B4BE;
}

.form-group .form-input::after {
    top: 0;
    right: 0;
    content: "*";
    font-size: 30px;
    position: absolute;
}

.form-group .form-textarea {
    width: 100%;
}

.form-group .form-textarea textarea {
    width: 100%;
    border: none;
    height: 100px;
    outline: none;
    font-size: 18px;
    max-width: 100%;
    font-weight: 400;
    max-height: 400px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid #95B4BE;
}

footer {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 50px 0 50px 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('../img/water-background-footer.png');
}

footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
}

footer .footer-wrapper div {
    width: calc(100% / 4 - 30px)
}

footer .footer-wrapper div .footer-title {
    color: #FFFDFD;
}

footer .footer-wrapper div .footer-link {
    display: block;
    font-size: 20px;
    cursor: pointer;
    color: #FFFDFD;
    margin: 0 0 15px 0;
}

footer .footer-wrapper div .footer-link:hover {
    color: #ffc;
}

footer .footer-wrapper div .footer-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #FFFDFD;
    margin: 0 0 5px 0;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 111111111;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}

.modal.active {
    display: flex;
}

.modal .modal-content {
    width: 1000px;
    position: relative;
    padding: 100px 70px;
    border-radius: 10px;
    background: #F4F1FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal .modal-content h2 {
    color: #212529;
}

.modal .modal-content span {
    color: #212529;
}

.modal-cost {
    color: #DA4A4A !important;
}

.modal-header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}

.modal-close {
    cursor: pointer;
}

.couple-input {
    gap: 10px;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.couple-input label {
    width: calc(50% - 10px);
}

.couple-input label span {
    display: block;
    font-size: 17px;
}

.triple-input {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.triple-input span {
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 16px;
    text-indent: 20px;
    border-radius: 4px;
    color: var(--base-dark-blue);
    border: 1px solid #CED4DA;
}

#form-btn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 4px;
    background: #0D6EFD;
    border: 1px solid #0D6EFD;
}

.modal-select {
    width: 100%;
    height: 40px;
    outline: none;
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 4px;
    border: 1px solid #CED4DA;
}

@media (max-width: 1370px) {
    nav .navbar-brand {
        font-size: 24px;
    }

    nav .navbar-menu {
        gap: 50px;
    }

    nav .navbar-menu .navbar-link {
        font-size: 18px;
    }

    .base-btn {
        padding: 10px 40px;
        font-size: 18px;
    }
    .inline-slider-conf {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1200px) {
    nav .navbar-menu {
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        z-index: 111;
        display: block;
        padding: 0 15px;
        overflow: hidden;
        position: absolute;
        background: #fff;
        transition: all 0.4s;
        box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.3);
    }
    nav .navbar-menu.active {
        height: 310px;
    }
    nav .navbar-menu .navbar-link {
        display: block;
        margin: 10px 0;
        transition: all 0.4s;
        padding: 10px 0 10px 15px;
        color: var(--base-dark-blue);
        background: var(--base-white);
        box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.3);
    }
    nav .navbar-menu .navbar-link:hover {
        padding: 10px 0 10px 15px;
        color: var(--base-white);
        background: var(--base-dark-blue);
        box-shadow: none;
    }
    nav .navbar-menu .base-btn {
        width: 200px;
        display: block;
        text-align: center;
        margin: 20px 0 !important;
    }
    nav .navbar-menu .navbar-brand a {
        display: block;
    }
    nav .navbar-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-banner {
        height: calc(100vh - 90px);
        text-align: right;
        background-position: left;
        background-image: url('../img/mobile-banner.png');
    }
    .header-banner .banner-title {
        margin-top: -3px;
        font-size: 68px;
    }
    .header-banner .container {
        width: 100%;
        padding: 25px !important;
    }
    .answer-wrapper div {
        width: 100%;
        margin: 15px 0;
        gap: 30px;
    }
    .answer-wrapper div img {
        width: 75px;
    }
    .order-wrapper {
        padding: 0;
    }
    .order-wrapper div {
        width: 100%;
    }
    .order-title {
        padding: 0;
        margin-top: 40px;
        text-align: center;
    }
    .order-wrapper .image-content img {
        margin-top: -40px;
        margin-bottom: 40px;
    }
    .calculation-wrapper {
        flex-direction: column;
    }
    .calculation-wrapper .bottle-side .img-relative {
        width: 30% !important;
        margin: auto;
        overflow: hidden;
    }
    .calculation-wrapper .bottle-side img {
        width: 100%;
        margin-top: 10px;
        object-fit: contain !important;
    }
    .calculation-wrapper .bottle-side .calcuation-result {
        font-size: 30px;
        margin: 20px auto;
        width: 60% !important;
        height: 70px !important;
    }
    .calculation-wrapper div {
        width: 100% !important;
    }
    .calculation-wrapper .range-side {
        margin-top: -120px;
    }
    .calculation-wrapper .range-side h1 {
        font-size: 30px;
    }
    .calculation-wrapper .range-side h3 {
        font-size: 20px;
    }
    .calculation-wrapper .range-side label {
        font-size: 17px;
    }
    .calculation-wrapper .range-side p {
        font-size: 17px;
    }
    .right-watermark {
        display: none;
    }

    .left-watermark {
        display: none;
    }
    .catalog-wrapper {
        flex-direction: column;
    }
    .catalog-wrapper .catalog-slider {
        width: 70% !important;
        padding-right: 0 !important;
    }
    .catalog-wrapper .text-content {
        width: 100% !important;
        padding-right: 0 !important;
    }
    .catalog-wrapper .text-content h1 {
        display: none;
    }
    .centered-mobile-visible-text {
        display: block;
        font-size: 30px;
        margin-top: 30px;
    }
    .couple-wrapper {
        flex-direction: column-reverse;
    }
    .couple-wrapper div {
        width: 100% !important;
    }
    .couple-wrapper .text-content h1 {
        display: none;
    }
    .catalog-wrapper .text-content {
        margin-top: -60px;
    }
    footer .footer-wrapper {
        flex-direction: column;
    }
    footer .footer-wrapper div {
        width: 100%;
        margin-bottom: 30px;
    }
    
}

@media (max-width: 768px) {
    .header-banner .banner-title {
        margin-top: -3px;
        font-size: 50px;
    }
    .modal .modal-content {
        padding: 20px 20px;
    }
    .modal .modal-content {
        width: 100%;
    }
    .couple-input label {
        width: 100% !important;
    }
    .triple-input label {
        width: 100% !important;
    }
    .couple-title {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 30px !important;
    }
}

@media (max-width: 480px) {
    nav .navbar-menu .base-btn {
        width: 100%;
    }
    .is-size-medium-mobile {
        font-size: 20px;
    }
    input {
        width: 100% !important;
    }
    .is-smaller-size-mobile {
        font-size: 1.7em
    }
    .header-banner .banner-title {
        margin-top: -3px;
        font-size: 30px;
    }
    .calculation-wrapper .bottle-side .img-relative {
        width: 70% !important;
        margin: auto;
        overflow: hidden;
    }
    .calculation-wrapper .bottle-side img {
        width: 100%;
        margin-top: 10px;
        object-fit: contain !important;
    }
    .order-title {
        font-size: 25px;
    }
    .calculation-title {
        font-size: 25px !important
    }
    .centered-mobile-visible-text {
        font-size: 25px !important
    }
    h1 {
        font-size: 25px
    }
    .couple-wrapper .text-content p {
        font-size: 18px
    }
    .base-btn {
        width: 100%;
    }
}




/* container */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1370px;
    }

    nav .navbar-menu {
        gap: 100px;
    }

    .answer-wrapper div {
        gap: 10px;
        display: flex;
        font-size: 22px;
        align-items: center;
        width: calc(100% / 2 - 30px);
    }

    .order-wrapper .text-content h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }

    .order-wrapper .text-content p {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .order-wrapper .image-content img {
        margin-top: -220px;
    }
    .inlined-content {
        gap: 15px;
        display: flex;
        align-items: center;
        width: calc(100% / 4 - 10px) !important;
    }
}

@media (max-width: 768px) {
    .inlined-content {
        gap: 15px;
        display: flex;
        align-items: center;
        width: calc(100% / 4 - 10px) !important;
    }
}


@media (min-width: 1700px) {
    .header-banner {
        align-items: center;
    }

    .header-banner .banner-title {
        font-size: 90px;
        font-weight: 700;
        margin-top: -350px;
        color: var(--base-dark-blue);
    }
}



input[type="range"]::-webkit-slider-runnable-track {
    background: #DEE2E6;
    border-radius: 4px;
    width: 100%;
    height: 15px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    margin-top: -5px;
    cursor: pointer;
    border: 12px solid #0D6EFD;
}

@media (max-width: 678px) {
    .forted-wrapper .inlined-content {
        width: calc(100% / 2 - 10px) !important;
    }
    .water-choose label {
        width: calc(100% / 2 - 20px) !important;
    }
    .count-calc {
        padding: 20px;
        flex-direction: column;
    }
    .count-calc div {
        width: 100% !important;
        margin: 5px;
    }
    .count-calc .display {
        height: auto;
        border-radius: 5px
    }
    .cost {
        font-size: 1.5em;
    }
    .cost::after {
        top: 8px;
        right: 0;
        font-size: 1.2em;
        content: "UZS";
        position: absolute;
    }
    .order-btn button {
        width: 100%;
        height: 60px;
        font-size: 1.5em;
    }
    .suffix {
        /* justify-content: center; */
        display: none;
    }
    .catalog-wrapper .catalog-slider {
        width: 100% !important;
    }
}


@media (max-width: 320px) {
    .answer-wrapper div {
        flex-direction: column;
    }
    .inlined-content {
        flex-direction: column;
    }
    .inlined-content img {
        width: auto;
    }
    .water-choose {
        flex-direction: column
    }
    .water-choose label {
        width: 100% !important;
    }
    .couple-title {
        font-size: 25px !important;
    }
    footer .footer-wrapper div .footer-link[href="mailto:zamzamwater@gmail.com"] {
        font-size: medium;
    }
}
